absl-py 
astor
atari-py
certifi
chardet
Click
cloudpickle
cycler
decorator
dill
future
gast
grpcio
gym
h5py
idna
imageio
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
networkx
numpy
opencv-python
pandas
Pillow
progressbar2
protobuf
pyglet
PyOpenGL
pyparsing
python-dateutil
python-utils
pytz
PyWavelets
requests
scikit-image
scikit-learn
scipy
six
tensorboard
tensorflow-gpu
termcolor
torch
tqdm
urllib
Werkzeug
baselines